* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.grid#grid {
  display: grid;
  grid-template-columns: repeat(4, 125px);
  gap: 5px;
  cursor: url('./assets/hammer.png') 16 16, auto;
}

.cell {
  width: 125px;
  height: 125px;
  border: 1px solid black;
  background-size: cover;
}

#score, #misses {
  font-size: 18px;
  margin: 10px 0;
}

.end-message {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin: 10px 0;
  text-align: center;
}